.about-component{
    margin: auto;
    padding: 3rem 2rem;
    text-align: center;
    background-color: white;
opacity: 0.8;
background-image: radial-gradient(rgb(255, 112, 23) 0.5px, #ffffff 0.5px);
background-size: 10px 10px;
}

.about-component >h1 {
    background: rgb(255,112,23);
    color:white;
    border-radius: 5px;
    border:2px solid black;
    filter: drop-shadow(3px 3px black);
}

.about-container{
    margin:auto;
}

.portrait-paragraph{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.about-paragraphs{
    text-align: left;
    width:60%;
}
.about-paragraphs > p, .mobile-about-paragraphs > p{
    padding: 1.5rem 0;
    line-height: 1.8rem;
}

.mobile-self-portrait, .mobile-self-portrait> img{
    width:30%;
    margin:auto;
    margin-top:1rem;
    border-radius: 20px;
}
.self-portrait, .self-portrait > img{
    border-radius: 15px;
    width:30%;
    margin-top:1rem;
}

.self-portrait >img, .mobile-self-portrait> img{
    border: 2px solid black;
    filter: drop-shadow(3px 3px black);
}



.studiogloom, .resume,.contact {
    cursor: pointer;
    position: relative;
    bottom:3px;
    right:3px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    color: white;
    background-color: rgb(255,112,23);
    border-radius: 20px;
    filter: drop-shadow(3px 3px black);
    transition: all 0.2s ease;
    margin-top: 1rem;
    font-weight: 600;
  }

.studiogloom:hover, .resume:hover, .contact:hover{
    filter: none;
    bottom: 0; 
    right: 0;
    color:black;
}

.about-buttons-container{
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    gap: 1rem;

}

.mobile-about-buttons-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.mobile-about-buttons-container > a{
    display: inline-block;
    width: 150px;
}

/* animation: fadeIn 3s ease both; */












/* NIGHTMODE */
.nightMode-about-component{
    margin: auto;
    padding: 3rem 2rem;
    text-align: center;
    background-color: white;
opacity: 1;
background-image: radial-gradient(#3B10A8 0.5px, black 0.5px);
background-size: 10px 10px;
}

.nightMode-about-component >h1 {
    background: #E0FF99;
    color:black;
    border-radius: 5px;
    border:2px solid white;
    filter: drop-shadow(3px 3px white);
}

.nightMode-about-container{
    margin:auto;
}

.nightMode-portrait-paragraph{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}
.nightMode-about-paragraphs{
    text-align: left;
    width:60%;
}
.nightMode-about-paragraphs > p, .nightMode-mobile-about-paragraphs > p{
    padding: 1.5rem 0;
    line-height: 1.8rem;
    color: white;
}

.nightMode-mobile-self-portrait, .nightMode-mobile-self-portrait> img{
    width:30%;
    margin:auto;
    margin-top:1rem;
    border-radius: 20px;
}
.nightMode-self-portrait, .nightMode-self-portrait > img{
    border-radius: 15px;
    width:30%;
    margin-top:1rem;
}

.nightMode-self-portrait >img, .nightMode-mobile-self-portrait> img{
    border: 2px solid white;
    filter: drop-shadow(3px 3px white);
}



.nightMode-studiogloom, .nightMode-resume,.nightMode-contact {
    cursor: pointer;
    position: relative;
    bottom:3px;
    right:3px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    color: white;
    background-color: #3B10A8;;
    border-radius: 20px;
    filter: drop-shadow(3px 3px white);
    transition: all 0.2s ease;
    margin-top: 1rem;
    font-weight: 600;
  }

.nightMode-studiogloom:hover, .nightMode-resume:hover, .nightMode-contact:hover{
    filter: none;
    bottom: 0; 
    right: 0;
    color:white;
}

.nightMode-about-buttons-container{
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    gap: 1rem;

}

.nightMode-mobile-about-buttons-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.nightMode-mobile-about-buttons-container > a{
    display: inline-block;
    width: 150px;
}

/* animation: fadeIn 3s ease both; */