.loading{
    width:100%;
    height: 100%;
    position:absolute;
    display:flex;
    flex-direction: column;
opacity: 1;
background-image: radial-gradient(gold 0.5px, rgb(255, 112, 23) 0.5px);
background-size: 10px 10px;
}


.loading-bar{
    background-color: azure; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.loading-bar h1{
    padding:1rem;
}

.dot-separator{
    display:flex;
    flex-direction: row;
    gap:.5rem;
    margin:1rem;
}

.dot-1, .dot-2, .dot-3{
    filter: drop-shadow(3px 3px black);
    border-radius:100%;
    width:20px;
    height:20px;
    margin:auto;
    border: 2px solid black;
}


.dot-1{
    background-color: rgb(60, 16, 172);
}

.dot-3{
    background-color: rgb(255, 112, 23);
}

.dot-2{
    background-color: gold;
}
.border{
    border:2px solid black;
}

.loading > div{
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    filter: drop-shadow(3px 3px black);
    text-align: center;
}

.loader {
    margin: 2rem auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-social-media {
    display:flex;
    flex-direction: row;
}