.workflap{
    display: flex;
    flex-direction: row-reverse;
    background-color: gold;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.workflap > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem none;
}

.workflap > .workImage{
    width: 67%;
    position:relative;
}

.workflap > .workTitle{
    width: 33%;
    display:inline-flex;
    flex: column;
    border-right: 2px solid black;
}

.workflap >.workTitle >div{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.workflap > .workTitle>div:hover{
    background-color: rgb(255, 112, 23);
    color:white;
}
.workflap > .workTitle>div:hover :only-child{
    border-bottom: 3px solid gold;
}


.workflap > .workTitle > div>p{
    margin: auto;
}

.workflap > .workTitle > div>p{
    font-weight: 500;
}

.workflap >.workTitle > div{
    display: inline-flex;
    margin: auto;
}

.workflap>.workTitle > :hover{
    display: inline-flex;
}

.workImage > div>div{ /* now a container for the image */
    cursor:pointer;
    overflow: hidden; /* hide the excess */
    position:relative;
    width: 100%;
    height: 100%;
}

.workImage >div >div>img{
    display: block; /* no whitespace */
    transition: .3s ease-in-out;
    max-width: 100%;
    width: 100%;
    height: 100%;
}


.workImage >div >div>img:hover{
    transform: scale(1.1);
}


.mobileWorkflap {
    background-color: gold;
    align-content: center;
    text-align: center;
    border-top: 2px solid black;
}

.mobileWorkflap >.workTitle{
    border-top:2px solid black;
    border-bottom: 2px solid black;
}
.mobileWorkflap > .workTitle>div {
    padding:2rem 0;
    font-weight: 500;
}
.mobileWorkflap > .workTitle>div >p{
    display:inline-block;
    border-bottom:3px solid gold;
}


.mobileWorkflap > .workTitle>div :only-child:hover{
    border-bottom:3px solid gold;
}

.mobileWorkflap > .workTitle>div:hover {
    background-color: rgb(255, 112, 23);
}


.mobileWorkflap > .workTitle>div:hover{
    background-color: rgb(255, 112, 23);
    color:white;
}
/* .mobileWorkflap > .workTitle>div:hover :only-child{
    border-bottom: 3px solid black;
} */
.workModalHeader{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
}

.rotating-circle {
    width: 3rem;
    height: 3rem;
    animation: rotate 5s linear infinite;
    position: absolute;
    top: 3rem;
    right: 3rem;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
  }

  .rotating-starburst {
    width: 8rem;
    height: 8rem;
    animation: rotate 5s linear infinite;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
  }

  .rotating-circle::before {
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* background-color: rgba(255, 255, 255, 0.8); Adjust background color as needed */
    padding: 10px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  body.workPopup{
    overflow-x: hidden;
  }

  .workPopup {
    cursor: pointer;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    border: 2px solid black;
    overflow-y: auto;
  }

  .workPopup > div{
    border-radius: 15px;
    filter: drop-shadow(3px 3px black);
    margin: auto;
    cursor: default;
  }
  


  .work-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
  }
  

  .close {
    color:black;
    float: right;
    font-weight: bold;
    background-color: gold;
    border:2px solid black;
    filter:drop-shadow(3px 3px black);
    position: relative;
    bottom: 3px;
    right: 3px;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }

  .close:hover,
.close:focus {
    position: relative;
    bottom: 0px;
    right: 0px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: none;
}

.workModalHeader{
    padding: 1.3rem;
}

.work-modal-content > :nth-child(2)>img{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.work-modal-content > :nth-child(2)>p{
    text-align:start;
    padding:1rem;
    background-color: gold;
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
}

.work-modal-content > :nth-child(2) >a {
    position: relative;
    background-color: gold;
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    text-align: start;
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    filter: drop-shadow(3px 3px black);
    transition: all .3s ease-in-out;
    bottom: 3px;
    right: 3px;
}

.work-modal-content > :nth-child(2) >a:hover {
    bottom: 0;
    right: 0;
    filter: none;
}

.work-modal-content > :nth-child(2) >a:hover{
    
}

.work-tech-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 241);
}

.work-tech-container>img {
    border-radius: 15px;
    background-color: white;
    padding: 1rem;
    border:2px solid black;
    position:relative;
    filter: drop-shadow(3px 3px black);
}














/* NIGHTMODE */
.nightMode-workflap{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.nightMode-workflap > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem none;
}

.nightMode-workflap > .workImage{
    width: 67%;
    position:relative;
}

.nightMode-workflap > .workTitle{
    width: 33%;
    display:inline-flex;
    flex: column;
    border-right: 2px solid white;
}

.nightMode-workflap >.workTitle >div{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nightMode-workflap > .workTitle>div:hover{
    background-color: #3B10A8;
    color:white;
}
.nightMode-workflap > .workTitle>div:hover :only-child{
    border-bottom: 3px solid #E0FF99;
}


.nightMode-workflap > .workTitle > div>p{
    margin: auto;
}

.nigthMode-workflap > .workTitle > div>p{
    font-weight: 500;
}

.nightMode-workflap >.workTitle > div{
    display: inline-flex;
    margin: auto;
    color:white;
}

.nightMode-workflap>.workTitle > :hover{
    display: inline-flex;
}

.workImage > div>div{ /* now a container for the image */
    cursor:pointer;
    overflow: hidden; /* hide the excess */
    position:relative;
    width: 100%;
    height: 100%;
}

.workImage >div >div>img{
    display: block; /* no whitespace */
    transition: .3s ease-in-out;
    max-width: 100%;
    width: 100%;
    height: 100%;
}


.workImage >div >div>img:hover{
    transform: scale(1.1);
}


.nightMode-mobileWorkflap {
    background-color: black;
    align-content: center;
    text-align: center;
    border-top: 2px solid white;
}

.nightMode-mobileWorkflap >.workTitle{
    border-top:2px solid black;
    border-bottom: 2px solid black;
}
.nightMode-mobileWorkflap > .workTitle>div {
    padding:2rem 0;
    font-weight: 500;
}
.nightMode-mobileWorkflap > .workTitle>div >p{
    display:inline-block;
    border-bottom:3px solid black;
    color: white
}


.nightMode-mobileWorkflap > .workTitle>div :only-child:hover{
    border-bottom:3px solid #E0FF99;
}

.nightMode-mobileWorkflap > .workTitle>div:hover {
    background-color: white;
}


.nightMode-mobileWorkflap > .workTitle>div:hover{
    background-color: #3B10A8;
    color:white;
}

.nightMode-mobileWorkflap > .workTitle>div:hover :only-child{
    border-bottom: 3px solid #E0FF99;
}

.nightMode-workModalHeader{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
}

.rotating-circle {
    width: 3rem;
    height: 3rem;
    animation: rotate 5s linear infinite;
    position: absolute;
    top: 3rem;
    right: 3rem;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
  }

  .rotating-starburst {
    width: 8rem;
    height: 8rem;
    animation: rotate 5s linear infinite;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
  }

  .rotating-circle::before {
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* background-color: rgba(255, 255, 255, 0.8); Adjust background color as needed */
    padding: 10px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  body.nightMode-workPopup{
    overflow: hidden;
  }

  .nightMode-workPopup {
    color:white;
    cursor: pointer;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    border: 2px solid black;
    overflow-y: auto;
  }

  .nightMode-workPopup > div{
    border-radius: 15px;
    filter: drop-shadow(3px 3px black);
    margin: auto;
    cursor: default;
    background-color: black;
  }
  


  .nightMode-work-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
  }
  

  .nightMode-close {
    color:white;
    float: right;
    font-weight: bold;
    background-color: darkblue;
    border:2px solid white;
    filter:drop-shadow(3px 3px white);
    position: relative;
    bottom: 3px;
    right: 3px;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }

  .nightMode-close:hover,
.nightMode-close:focus {
    position: relative;
    bottom: 0px;
    right: 0px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: none;
}

.nightMode-workModalHeader{
    padding: 1.3rem;
}

.nightMode-work-modal-content > :nth-child(2)>img{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.nightMode-work-modal-content > :nth-child(2)>p{
    text-align:start;
    padding:1rem;
    background-color: black;
    border-top: 2.5px solid white;
    border-bottom: 2.5px solid white;
}

.nightMode-work-modal-content > :nth-child(2) >a {
    position: relative;
    background-color: darkblue;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: start;
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    filter: drop-shadow(3px 3px white);
    transition: all .3s ease-in-out;
    bottom: 3px;
    right: 3px;
}

.nightMode-work-modal-content > :nth-child(2) >a:hover {
    bottom: 0;
    right: 0;
    filter: none;
}

.work-modal-content > :nth-child(2) >a:hover{
    
}

.nightMode-work-tech-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
    background-color: rgb(51, 51, 51);
}

.nightMode-work-tech-container>img {
    border-radius: 15px;
    background-color: white;
    padding: 1rem;
    border:2px solid black;
    position:relative;
    filter: drop-shadow(3px 3px black);
}








